@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

body {
    font-family: 'Open Sans', sans-serif;
    /* because navbar sticks to the top of the page, give it a margin */
    margin-top: 75px;
}

details {
    margin: 1rem;
}

summary {
    font-weight: bold;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: hidden;
    /* make it sticky at the top of the page */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Current/active navbar link */
.navbar .active {
    background-color: #04AA6D;
}

/* "Special" navbar link (for highlighting in a menu) */
.navbar .highlight {
    background-color: indigo;
    color: lightyellow;
    font-weight: bold;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 350px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.btn {
    border: none;
    color: white;
    padding: 7px 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}

.btn a {
    color: white;
    text-decoration: none;
}

.success {
    background-color: #04AA6D;
}

/* Green */
.success:hover {
    background-color: #46a049;
}

.info {
    background-color: #2196F3;
}

/* Blue */
.info:hover {
    background: #0b7dda;
}

.warning {
    background-color: #ff9800;
}

/* Orange */
.warning:hover {
    background: #e68a00;
}

.danger {
    background-color: #f44336;
}

/* Red */
.danger:hover {
    background: #da190b;
}

.default {
    background-color: #e7e7e7;
    color: black;
}

/* Gray */
.default:hover {
    background: #ddd;
}

/* Use a thin (10px wide) scrollbar, which has a grey track/bar color and a dark-grey (#888) handle */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}