@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

body {
    /* be as close to the OS-specific "UI" font as possible */
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    /* because primary navigation sticks to the top of the page, give it a margin */
    margin-top: 50px;
}

details>details {
    padding-left: 20px;
}

details.explore {
    margin-left: 1rem;
    margin-top: 1rem;
}

details summary {
    cursor: pointer;
}

details div.leaf.nav-target::before {
    padding-left: 15px;
    content: "📄";
}

details div.leaf.nav-target {
    cursor: pointer;
}

/* Style the primary navigation bar */
nav.prime {
    width: 100%;
    background-color: #555;
    overflow: auto;
    white-space: nowrap;
    /* make it sticky at the top of the page */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Navbar links */
nav.prime a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 9pt;
}

/* Navbar links on mouse-over */
nav.prime a:hover {
    background-color: #000;
}

/* Current/active primary navigation link */
nav.prime .active {
    background-color: #04AA6D;
}

/* "Special" primary navigation link (for highlighting in a menu) */
nav.prime .highlight {
    background-color: indigo;
    color: lightyellow;
    font-weight: bold;
}

.btn {
    border: none;
    color: white;
    padding: 7px 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}

.btn a {
    color: white;
    text-decoration: none;
}

.success {
    background-color: #04AA6D;
}

/* Green */
.success:hover {
    background-color: #46a049;
}

.info {
    background-color: #2196F3;
}

/* Blue */
.info:hover {
    background: #0b7dda;
}

.warning {
    background-color: #ff9800;
}

/* Orange */
.warning:hover {
    background: #e68a00;
}

.danger {
    background-color: #f44336;
}

/* Red */
.danger:hover {
    background: #da190b;
}

.default {
    background-color: #e7e7e7;
    color: black;
}

/* Gray */
.default:hover {
    background: #ddd;
}

footer.page {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EFEFEF;
    text-align: center;
}

footer.page a {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #581845;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 9pt;
    text-decoration: none;
}

/* Use a thin (10px wide) scrollbar, which has a grey track/bar color and a dark-grey (#888) handle */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}